<div id="navbar">
    <div id="leftbar">
        <a id="" href="/">
            <img
                src="https://3.files.edl.io/25f3/20/04/10/180703-6f31c2bb-0880-4afc-8faf-7f41e195aee2.png"
                height="40px"
            />
        </a>
        <p>
            <a id="" href="/" style="text-decoration: none"
                >Homework <span>Solutions</span></a
            >
        </p>
    </div>

    <div id="middlebar">
        <div class="nav-button <%=locals.services%>">
            <a href="/services">Services</a>
        </div>
        <div class="nav-button <%=locals.helpers%>">
            <a href="/helpers">Helpers</a>
        </div>
        <div class="nav-button <%=locals.howorder%>">
            <a href="/leaderboard">How To Order</a>
        </div>
        <div class="nav-button <%=locals.reviews%>">
            <a href="/applications">Reviews</a>
        </div>
        <div class="nav-button <%=locals.aboutus%>">
            <a href="/chat">About Us</a>
        </div>
        <div class="nav-button <%=locals.becomehelper%>">
            <a href="/chat">Become a Helper</a>
        </div>
        <div class="nav-button <%=locals.ordersNav%>">
            <a href="/orders">Orders</a>
        </div>
    </div>

    <div id="rightbar">
        <%if (!locals.isLoggedIn) { %>
        <p><a href="/account/login">Login</a></p>

        <p>
            <a href="/account/signup"><span>Sign Up</span></a>
        </p>
        <% } else { %> <% } %>
    </div>
</div>
<div style="margin-bottom: 100px"></div>
