<div id="navbar">
    <div id="leftbar">
        <a id="" href="/">
            <img
                src="https://3.files.edl.io/25f3/20/04/10/180703-6f31c2bb-0880-4afc-8faf-7f41e195aee2.png"
                height="40px"
            />
        </a>
        <p>
            <a id="" href="/" style="text-decoration: none"
                >Grade <span>Mates</span></a
            >
        </p>
    </div>

    <div id="middlebar">
        <div class="nav-button <%=locals.order%>">
            <a href="/order">Do My HW</a>
        </div>
        <!-- <div class="nav-button <%=locals.helpers%>">
            <a href="/helpers">Helpers</a>
        </div> -->
        <!--   -->
        <!-- <div class="nav-button <%=locals.reviews%>">
            <a href="/applications">Reviews</a>
        </div> -->
        <div class="nav-button <%=locals.becomehelper%>">
            <a href="https://discord.gg/homeworksolution" target="_blank"
                >Become a Worker</a
            >
        </div>
        <div class="nav-button <%=locals.ordersNav%>">
            <a href="/orders">Orders</a>
        </div>
    </div>

    <div id="rightbar">
        <%if (!locals.isLoggedIn) { %>
        <p><a href="/account/login">Login</a></p>

        <p>
            <a href="/account/signup"><span>Sign Up</span></a>
        </p>
        <% } else { %>

        <a href="/chat">
            <img src="/images/icons/messenger.png" />
        </a>
        <a
            style="cursor: pointer"
            onclick="if(confirm('Are you sure you want to logout?')){window.location.href='/account/logout'}"
        >
            <img src="/images/icons/profile.png" />
        </a>

        <% } %>
    </div>
</div>
<div style="margin-bottom: 100px"></div>
