<!DOCTYPE html>
<html>
    <head>
        <%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/styles/helper/orders.css" />
    </head>

    <body>
        <%- include('../includes/navbar.ejs') %>
        <div id="heading">
            <p class="h1">
                Active Orders <span class="past">(See completed orders)</span>
            </p>
        </div>
        <div id="heading">
            <% if(acceptedOrders.length <= 0) {%>
            <p class="h2">You have no active orders.</p>
            <% } %>
        </div>
        <div id="current">
            <% if(acceptedOrders.length > 0) { acceptedOrders.forEach(order =>
            {console.log(order.submittedFiles.length);%>
            <div class="con" id="<%=order.id%>">
                <p class="class"><%=order.class.toUpperCase()%></p>
                <p class="desc">
                    <%=order.type%><br />
                    &emsp;-<%=order.details%><br />
                    <%=order.size%> pages<br />
                    &emsp;-<%=order.spacing%> spaced <br />
                </p>
                <p class="date">Due date: <%=order.deadline%></p>
                <div class="userid" style="display: none">
                    <%=order.userid._id%>
                </div>
                <div class="submittedFilesLen" style="display: none">
                    <%=order.submittedFiles.length%>
                </div>
                <p class="username" style="display: none">
                    <%=order.userid.username%>
                </p>
                <p class="files" style="display: none">
                    <%=order.files.length%>
                </p>
                <div
                    class="realdesc"
                    style="display: none; white-space: pre-line"
                >
                    <%=order.instructions%>
                </div>
                <div class="buttonCon">
                    <button
                        class="common-button alt"
                        onclick="showModel('<%=order.id%>')"
                    >
                        Details
                    </button>
                </div>
            </div>

            <% }); %> <% }; %>
        </div>
        <div id="heading">
            <p class="h1">
                Requested Orders
                <span
                    class="past"
                    onclick="window.open('/offer/offers', '_self')"
                    >(See your offers)</span
                >
            </p>
            <button onclick="window.open('/orders', '_self')">
                <img
                    src="https://cdn-icons-png.flaticon.com/512/61/61225.png"
                />
            </button>
        </div>
        <div id="current">
            <% if(orders.length > 0) { %> <% orders.forEach(order => { %>
            <div class="con" id="<%=order.id%>">
                <p class="username" style="display: none"><%=order.user%></p>
                <p class="files" style="display: none"><%=order.files%></p>
                <p class="class"><%=order.class.toUpperCase()%></p>
                <p class="desc">
                    <%=order.type%><br />
                    &emsp;-<%=order.details%><br />
                    <%=order.size%> pages<br />
                    &emsp;-<%=order.spacing%> spaced <br />
                </p>
                <br />
                <p class="class">Requirements</p>
                <div class="realdesc" style="white-space: pre-line">
                    <%=order.instructions%>
                </div>
                <p class="date">Due date: <%=order.deadline%></p>

                <div class="buttonCon">
                    <button
                        class="common-button alt"
                        onclick="showRequestModel('<%=order.id%>')"
                    >
                        Details
                    </button>
                </div>
            </div>
            <% }); %> <% }; %>
        </div>
        <div id="requestPopup" style="display: none">
            <p id="reqTitle"></p>
            <p class="user">Requested by <span id="reqPopUser"></span></p>
            <hr />
            <div class="details" id="reqPopDetails"></div>
            <div id="reqDownload">
                <br />
                <a id="reqFileslink" href="">Download Files</a>
            </div>
            <div class="requirements">
                <p class="header">Requirements</p>
                <p
                    class="norm"
                    style="white-space: pre-line"
                    id="reqPopReqs"
                ></p>
            </div>
            <form action="/offer" method="POST">
                <div class="buttonCon">
                    <button
                        type="button"
                        class="common-button alt"
                        onclick="hideModel()"
                    >
                        Cancel
                    </button>

                    <input
                        style="display: none"
                        name="orderId"
                        id="reqOrderId"
                    />
                    <div class="numDiv">
                        <input
                            type="number"
                            id="reqOfferAmount"
                            placeholder="0.00"
                            name="amount"
                        />
                    </div>
                    <button type="submit" class="common-button">Offer</button>
                </div>
            </form>
        </div>

        <div id="popup" style="display: none; padding-bottom: 15px">
            <p class="title" id="popClass"></p>
            <p>
                Requested by
                <span class="bold" id="popUser"></span>
            </p>
            <hr />
            <div id="popDetails">
                <br />
                &emsp;-<br />
                pages<br />
                &emsp;- spaced <br />
            </div>
            <div id="download">
                <br />
                <a id="fileslink" href="">Download Files</a>
            </div>
            <div class="requirements">
                <p class="header">Requirements</p>
                <p class="norm" style="white-space: pre-line" id="popReqs"></p>
            </div>
            <div class="buttonCon">
                <button
                    type="button"
                    class="common-button alt"
                    onclick="hideModel()"
                >
                    Cancel
                </button>
                <button
                    id="popSubmitButton"
                    type="button"
                    class="common-button"
                    onclick=""
                >
                    Submit Work
                </button>
                <button
                    id="popChatButton"
                    type="button"
                    class="common-button"
                    onclick=""
                >
                    Chat
                </button>
            </div>
        </div>

        <div id="workPopup" style="display: none; padding-bottom: 15px">
            <form
                action="/orders/submitFiles"
                method="POST"
                enctype="multipart/form-data"
            >
                <p class="title" name="test" id="popClass">Submit work</p>
                <p>
                    Client
                    <span class="bold" id="submitPopUser"></span>
                </p>
                <hr />
                <input type="file" name="pdf" multiple />
                <input id="submitOrderid" name="orderid" type="hidden" />
                <div class="buttonCon">
                    <button
                        id="submitCancelB"
                        type="button"
                        class="common-button alt"
                        onclick="hideSubmitModel()"
                    >
                        Cancel
                    </button>
                    <button
                        id=""
                        type="submit"
                        class="common-button"
                        onclick=""
                    >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </body>
    <script>
        function showRequestModel(id) {
            hideSubmitModel();
            document.getElementById('requestPopup').style.display = '';
            document.getElementById('reqOrderId').value = id;
            document.getElementById('reqPopUser').innerHTML = document
                .getElementById(id)
                .querySelector('.username').innerHTML;
            if (
                document.getElementById(id).querySelector('.files').innerHTML >
                0
            ) {
                document.getElementById('reqDownload').style.display = '';
                document
                    .getElementById('reqFileslink')
                    .setAttribute('href', `/orders/downloadfiles/${id}`);
            } else {
                document.getElementById('reqDownload').style.display = 'none';
            }
            document.getElementById('reqPopReqs').innerHTML = document
                .getElementById(id)
                .querySelector('.realdesc').innerHTML;
            document.getElementById('reqPopDetails').innerHTML = document
                .getElementById(id)
                .querySelector('.desc').innerHTML;
            document.getElementById('reqTitle').innerHTML = document
                .getElementById(id)
                .querySelector('.class').innerHTML;
            document.getElementById('reqOfferAmount').value = '';
        }

        function showModel(id) {
            hideSubmitModel();
            //console.log(id);
            document.getElementById('popup').style.display = '';
            //document.getElementById('orderId').value = id;
            //console.log(document.getElementById(id));
            // console.log(id);
            console.log(document.getElementById(id));
            let userid = document
                .getElementById(id)
                .querySelector('.userid').innerHTML;
            document
                .getElementById('popChatButton')
                .setAttribute(
                    'onclick',
                    `window.open('/chat?user=${userid.trim()}', '_self')`
                );
            document
                .getElementById('popSubmitButton')
                .setAttribute('onclick', `showSubmitModel('${id}')`);
            console.log(
                document
                    .getElementById(id)
                    .querySelector('.username')
                    .innerHTML.trim()
            );
            document.getElementById('popUser').innerHTML = document
                .getElementById(id)
                .querySelector('.username')
                .innerHTML.trim();
            document.getElementById('popClass').innerHTML = document
                .getElementById(id)
                .querySelector('.class').innerHTML;
            if (
                document.getElementById(id).querySelector('.files').innerHTML >
                0
            ) {
                document.getElementById('download').style.display = '';
                document
                    .getElementById('fileslink')
                    .setAttribute('href', `/orders/downloadfiles/${id}`);
            } else {
                document.getElementById('download').style.display = 'none';
            }
            console.log(document.getElementById(id).querySelector('.realdesc'));
            document.getElementById('popReqs').innerHTML = document
                .getElementById(id)
                .querySelector('.realdesc').innerHTML;
            document.getElementById('popDetails').innerHTML = document
                .getElementById(id)
                .querySelector('.desc').innerHTML;
        }

        function hideModel() {
            document.getElementById('popup').style.display = 'none';
        }

        function showSubmitModel(id) {
            if (
                document.getElementById(id).querySelector('.submittedFilesLen')
                    .innerHTML > 0
            ) {
                confirm(
                    'You have already submitted files to this order. Submitting new files will clear the old ones.'
                );
            }
            hideModel();
            document.getElementById('workPopup').style.display = '';
            document.getElementById('submitPopUser').innerHTML = document
                .getElementById(id)
                .querySelector('.username').innerHTML;
            document
                .getElementById('submitCancelB')
                .setAttribute('onclick', `showModel('${id}')`);
            document.getElementById('submitOrderid').value = id;
        }

        function hideSubmitModel(id) {
            document.getElementById('workPopup').style.display = 'none';
        }

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if (urlParams.get('retrack') == 'true') {
            showModel(urlParams.get('id'));
            alert('You must offer a valid amount');
        }
    </script>
</html>
