<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="/styles/orders.css" />
    </head>

    <% if(!locals.isHelper) { %>
    <body>
        <%- include('includes/navbar.ejs') %>
        <div id="heading">
            <p class="h1">Current Orders</p>
        </div>
        <div id="heading">
            <% if(orders.length <= 0) {%>
            <p class="h2">
                You have no orders.
                <a href="/services">Get your homework done</a>
            </p>
            <% } %>
        </div>
        <div id="current">
            <% if(orders.length > 0) { %> <% orders.forEach(order => { %>
            <div class="con">
                <p class="class"><%=order.class.toUpperCase()%></p>
                <p class="desc">
                    <%=order.type%><br />
                    &emsp;-<%=order.details%><br />
                    <%=order.size%> pages<br />
                    &emsp;-<%=order.spacing%> spaced <br />
                </p>
                <p class="date">Due date: <%=order.deadline%></p>
                <div class="buttonCon">
                    <button class="common-button">See Offers</button>
                    <p><%=order.offers.length%></p>
                </div>
            </div>
            <% }); %> <% }; %>
        </div>
        <div id="heading">
            <p class="h1">Past Orders</p>
        </div>
        <div id="heading">
            <% if(pastOrders.length <= 0) {%>
            <p class="h2">You have no past orders.</p>
            <% } %>
        </div>
        <div id="current">
            <% if(pastOrders.length > 0) { %> <% pastOrders.forEach(order => {
            %>
            <div>
                <p class="class"><%=order.class.toUpperCase()%></p>
                <p class="desc">
                    <%=order.type%><br />
                    <%=order.details%><br />
                    <%=order.size%> pages<br />
                    <%=order.spacing%> spaced
                </p>
                <p class="date">Due date: <%=order.deadline%></p>
                <div>
                    <button class="common-button">See Offers</button>
                    <p>0</p>
                </div>
            </div>
            <% }); }%>
        </div>
    </body>
    <% } else {%>
    <body>
        <%- include('includes/navbar.ejs') %>
        <div id="heading">
            <p class="h1">
                Active Orders <span class="past">(See past orders)</span>
            </p>
        </div>
        <div id="heading">
            <% if(acceptedOrders.length <= 0) {%>
            <p class="h2">You have no active orders.</p>
            <% } %>
        </div>
        <div id="current">
            <% if(acceptedOrders.length > 0) { %> <%
            acceptedOrders.forEach(order => { %>
            <div class="con">
                <p class="class"><%=order.class.toUpperCase()%></p>
                <p class="desc">
                    <%=order.type%><br />
                    &emsp;-<%=order.details%><br />
                    <%=order.size%> pages<br />
                    &emsp;-<%=order.spacing%> spaced <br />
                </p>
                <p class="date">Due date: <%=order.deadline%></p>
                <div class="buttonCon">
                    <button class="common-button">See Offers</button>
                    <p><%=order.offers.length%></p>
                </div>
            </div>
            <% }); %> <% }; %>
        </div>
        <div id="heading">
            <p class="h1">Requested Orders</p>
            <button onclick="window.open('/orders', '_self')">
                <img
                    src="https://cdn-icons-png.flaticon.com/512/61/61225.png"
                />
            </button>
        </div>
        <div id="current">
            <% if(orders.length > 0) { %> <% orders.forEach(order => { %>
            <div class="con" id="<%=order.id%>">
                <p class="username" style="display: none"><%=order.user%></p>
                <p class="class"><%=order.class.toUpperCase()%></p>
                <p class="desc">
                    <%=order.type%><br />
                    &emsp;-<%=order.details%><br />
                    <%=order.size%> pages<br />
                    &emsp;-<%=order.spacing%> spaced <br />
                </p>
                <br />
                <p class="class">Requirements</p>
                <div class="realdesc" style="white-space: pre-line">
                    <%=order.instructions%>
                </div>
                <p class="date">Due date: <%=order.deadline%></p>

                <div class="buttonCon">
                    <button class="common-button">Offer</button>
                    <button
                        class="common-button alt"
                        onclick="showModel('<%=order.id%>')"
                    >
                        Details
                    </button>
                </div>
            </div>
            <% }); %> <% }; %>
        </div>
        <div id="popup" style="display: none">
            <p class="title">ALGEBRA</p>
            <p class="user">Requested by <span id="popUser"></span></p>
            <hr />
            <div class="details" id="popDetails"></div>
            <div class="requirements">
                <p class="header">Requirements</p>
                <p class="norm" style="white-space: pre-line" id="popReqs"></p>
            </div>
            <form action="/orders/offer" method="POST">
                <div class="buttonCon">
                    <button
                        type="button"
                        class="common-button alt"
                        onclick="hideModel()"
                    >
                        Cancel
                    </button>

                    <input style="display: none" name="orderId" id="orderId" />
                    <div class="numDiv">
                        <input
                            type="number"
                            id="offerAmount"
                            placeholder="0.00"
                            name="amount"
                        />
                    </div>
                    <button type="submit" class="common-button">Offer</button>
                </div>
            </form>
        </div>
    </body>
    <% }%>
    <script>
        function showModel(id) {
            document.getElementById('popup').style.display = '';
            document.getElementById('orderId').value = id;
            document.getElementById('popUser').innerHTML = document
                .getElementById(id)
                .querySelector('.username').innerHTML;
            document.getElementById('popReqs').innerHTML = document
                .getElementById(id)
                .querySelector('.realdesc').innerHTML;
            document.getElementById('popDetails').innerHTML = document
                .getElementById(id)
                .querySelector('.desc').innerHTML;
            document.getElementById('offerAmount').value = '';
        }
        function hideModel() {
            document.getElementById('popup').style.display = 'none';
        }

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if (urlParams.get('retrack') == 'true') {
            showModel(urlParams.get('id'));
            alert('You must offer a valid amount');
        }
    </script>
</html>
