<!DOCTYPE html>
<html>
    <head>
        <%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="/styles/orders.css" />
    </head>
    <body>
        <%- include('includes/navbar.ejs') %>
        <div id="heading">
            <p class="h1">
                Your Offers
                <span class="past" onclick="window.open('/orders','_self')"
                    >(Go to orders)</span
                >
            </p>
            <button onclick="location.reload();">
                <img
                    src="https://cdn-icons-png.flaticon.com/512/61/61225.png"
                />
            </button>
        </div>
        <div id="current">
            <% if(offers.length > 0) { %> <% offers.forEach(offer => { %>
            <div class="con" id="<%=offer.id%>">
                <p class="username" style="display: none">
                    <%=offer.offererName%>
                </p>
                <p class="offerid" style="display: none"><%=offer.offerid%></p>
                <p class="class" style="text-align: center">
                    <%=offer.offererName.toUpperCase()%>
                    <span style="font-weight: 100">⭐<%=offer.stars%></span>
                </p>
                <br />
                <p class="class" id="amount">$<%=offer.amount%></p>
                <div class="realdesc" style="display: none"></div>

                <div class="buttonCon">
                    <button
                        class="common-button alt"
                        onclick="Decline('<%=offer.id%>', '<%=offer.orderid%>')"
                    >
                        Decline
                    </button>
                    <button
                        class="common-button"
                        onclick="Accept('<%=offer.orderid%>', '<%=offer.offererid%>', '<%=offer.amount%>')"
                    >
                        Accept
                    </button>
                </div>
            </div>
            <% }); }else {%>
            <div id="heading">
                <p class="h2">You have no offers.</p>
            </div>
            <% }; %>
        </div>
        <script>
            async function Decline(offerid, orderid) {
                console.log(offerid);
                console.log(orderid);
                await fetch('declineOffer', {
                    method: 'POST',
                    headers: { 'Content-type': 'application/json' },
                    body: JSON.stringify({ offerid, orderid }),
                });
                window.open('/orders', '_self');
            }
            async function Accept(orderid, helperid, amount) {
                await fetch('acceptOffer', {
                    method: 'POST',
                    headers: { 'Content-type': 'application/json' },
                    body: JSON.stringify({ orderid, helperid, amount }),
                });
                window.open('/orders', '_self');
            }
        </script>
    </body>
</html>
